/**
 * @name Discord-
 * @author me.
 * @version 1.3-beta
 * @description collection of snippets
*/


/* ------------ Fonts, imports ------------ */


@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-primary: "Inter", sans-serif;
  --font-display: "Inter", sans-serif;
  --font-code: Consolas, Menlo, Monaco, "Courier New", monospace;
}


/* ------------ Uh I forgot but I think it's server icon size ------------ */

:root {
    --guildbar-avatar-size: 48px;
    --blob-scale: 48;

    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);
}
.visual-refresh div[class^="sidebar_"] section[class^="panels_"] {
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 1px);
    left: var(--custom-guild-list-width);
    bottom: 0px;
    border-radius: 0px;
    border: none;
}

.visual-refresh nav[class*=guilds_] {
  margin-bottom: unset;
}


/* ------------ Remove junk ------------ */
/* Obviously if you want stuff back just delete it from code */


[href="/store"],
[href="/shop"],
[aria-label="Text icon"],
[aria-label="Inbox"],
[aria-label="Open Quick Switcher"],
[aria-label="Submit a Bug Report"] {
	display: none !important;
}


/* No activity section */

._133bf5eea8e33a34-nowPlayingColumn {
	display: none !important;
}

.cc61794aab086a2e-peopleListItem {
	padding-top: 54px !important;
	padding-bottom: 54px !important;
}

/* Guild tags in profile REALLY annoy me */

._63ed30c16c7151f2-guildTagContainer {
	display: none !important;
}

[data-has-border="true"] {
	border-top: none !important;
}

/* ------------ My personal preferences ------------ */
/* Basically thicker stuff */
/* Friends and Quests tab on default screen */

[href="/quest-home"],
[href="/channels/@me"] {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

/* Channels thick */

._2ea32c412048f708-linkTop {
	padding-top: 14px !important;
	padding-bottom: 14px !important;
}

[aria-label*="(direct message)"] {
	padding-top: 14px !important;
	padding-bottom: 14px !important;
}

/* ------------ No user area ------------ */
/* Even though the "top/bottom: 0px" seemingly have no effect they actually do somehow */


[aria-label="User area"] {
	border-radius: 0px !important;
	border: none !important;
	width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) - 21px) !important;
	background: var(--background-gradient-high, var(--background-base-lowest)) !important;
	left: 82px !important;
	bottom: 0px !important;
}

._37e49614b9f110a9-container {
	padding: 0px !important;
}

/* ------------ No top bar? ------------ */
/* Only macOS (15.7.2/Sequoia) tested */
/* Tweak the "right: 120px" as needed, depending on the amount of top-bar icons you have */

.c38106a3f0c3ca76-trailing { /* top bar icons */
	z-index: 101 !important;
	top: 8px !important;
}

._9293f6b2fc12398a-toolbar { /* channel bar icons */
	right: 100px !important;
	position: relative !important;
}

/* I did some ... really weird stuff */

._5e434347c823b592-page,
._5e434347c823b592-sidebarList {
	height: 100vh !important;
	top: 0px !important;
	position: relative !important;
}

._5e434347c823b592-content {
	height: 200vh !important;
	top: -40px !important;
	position: relative !important;
}

[aria-label="Servers sidebar"] {
	top: 40px !important;
}
