/**
 * @name Discord- (Windows)
 * @author me.
 * @version 1.3-beta2
 * @description collection of snippets
*/


/* ------------ Fonts, imports ------------ */

/* Broken right now?? @import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css"); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-primary: "Inter", sans-serif;
  --font-display: "Inter", sans-serif;
  --font-code: Consolas, Menlo, Monaco, "Courier New", monospace;
}

.theme-dark {
  --othermsg: #333 !important;
}

.theme-light {
 --othermsg: #eee !important;
}


/* ------------ Servers or something ------------ */

/* Sidebar width */

:root {
    --guildbar-avatar-size: 48px;
    --blob-scale: 48;

    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);

    --custom-guild-list-padding: 12px;
    --custom-guild-list-width: calc(
        max(var(--guildbar-avatar-size), var(--guildbar-folder-size))
        + var(--custom-guild-list-padding) * 2
    );
}




/* ------------ Remove junk ------------ */
/* Obviously if you want stuff back just delete it from code */


[href="/store"],
[href="/shop"],
[aria-label="Text icon"],
[aria-label="Inbox"],
[aria-label="Open Quick Switcher"],
[aria-label="Submit a Bug Report"] {
	display: none !important;
}


/* No activity section */

.nowPlayingColumn__133bf {
	display: none !important;
}

.peopleListItem_cc6179 {
	padding-top: 54px !important;
	padding-bottom: 54px !important;
}

/* Guild tags in profile REALLY annoy me */

.guildTagContainer__63ed3 {
	display: none !important;
}

[data-has-border="true"] {
	border-top: none !important;
}

/* ------------ My personal preferences ------------ */
/* Basically thicker stuff */
/* Friends and Quests tab on default screen */

[href="/quest-home"],
[href="/channels/@me"] {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

/* Channels thick */

.linkTop__2ea32 {
	padding-top: 14px !important;
	padding-bottom: 14px !important;
}

[aria-label*="(direct message)"] {
	padding-top: 14px !important;
	padding-bottom: 14px !important;
}

/* ------------ No user area ------------ */
/* Even though the "top/bottom: 0px" seemingly have no effect they actually do somehow */


[aria-label="User area"] {
	border-radius: 0px !important;
	border: none !important;
	width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) - 21px) !important;
	background: var(--background-gradient-high, var(--background-base-lowest)) !important;
	left: 82px !important;
	bottom: 0px !important;
}

.container__37e49 {
	padding: 0px !important;
}

/* ------------ No top bar? ------------ */

.backForwardButtons__63abb { /* no. */
	display: none !important;
}

.trailing_c38106 { /* top bar icons */
	z-index: 101 !important;
	top: 8px !important;
}

.toolbar__9293f { /* channel bar icons */
	right: 220px !important; /* Tweak as needed!! */
	position: relative !important;
}

/* I did some ... really weird stuff */
/* For some reason, this breaks when you copy-paste something into the message bar?? */

.page__5e434,
.sidebarlist__5e434 {
	height: 100vh !important;
	top: 0px !important;
	position: relative !important;
}

.content__5e434 {
	height: 200vh !important;
	top: -37px !important;
	position: relative !important;
}

[aria-label="Servers sidebar"] {
	top: 16px !important;
}

/* Window buttons are full height */

.winButton_c38106 {
	height: 52px !important;
	width: 48px !important;
}

/* ------------ Message blobs ------------ */

/* All (general) */

.contents_c19a55 .messageContent_c19a55 {
	background-color: var(--othermsg) !important;
	max-width: 650px;
	width: fit-content;
	margin: 0;
	padding: 8px;
	border-radius: 15px;
}

/* My (your) messages */

[data-is-self="true"] .contents_c19a55 .messageContent_c19a55 {
	background: #357bf7 !important;
	color: #fff;
	display: block;
}
